.aboutBanner {
  position: relative;
  margin-top: 44px;
}

.aboutBanner img {
  border-radius: 25px;
  filter: brightness(80%);
  width: 100%;
  min-height: 223px;
  object-fit: cover;
}

.aboutBanner__text {
  position: absolute;
  top: 32%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  color: white;
  font-size: 48px;
  font-weight: 500;
}

@media screen and (max-width: 960px) {
  .aboutBanner__text {
    font-size: 38px;
  }
}

@media screen and (max-width: 768px) {
  .aboutBanner__text {
    font-size: 24px;
  }
}

@media screen and (max-width: 650px) {
  .aboutBanner {
    margin-top: 17px;
  }

  .aboutBanner__text {
    text-align: start;
    left: 38%;
  }

  .aboutBanner img {
    border-radius: 10px;
  }
}
