.collapse__accomodation {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.collapse__accomodation__card {
  overflow: hidden;
  flex-basis: 47%;
}

.collapse__header {
  background-color: #ff6060;
  color: white;
  padding: 13px 20px 13px 20px;
  border-radius: 10px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  margin-top: 31px;
}

.collapse__header img {
  cursor: pointer;
}

.arrow {
  transition: all 0.2s ease-in-out;
}
.arrow_up {
  transform: rotate(0deg);
}
.arrow_down {
  transform: rotate(180deg);
}
.collapse__header__title {
  margin: 0;
  font-size: 18px;
  font-weight: 500;
}
.collapse__content {
  display: flex;
  flex-wrap: wrap;
  background-color: #f7f7f7;
  color: #ff6060;
  padding: 40px 20px;
  border-radius: 10px;
  position: relative;
  top: -0.3rem;
  z-index: -1;
  font-size: 18px;
  font-weight: 400;
  line-height: 1.5;
  min-height: 249px;
  height: 100%;
  animation: slide-bottom 0.5s ease-in-out;
}


@keyframes slide-bottom {
  0% {
    opacity: 0;
    -webkit-transform: translateY(-10px);
    transform: translateY(-10px);
  }
  100% {
    opacity: 1;
    -webkit-transform: translateY(0px);
    transform: translateY(0px);
  }
}

@media screen and (max-width: 768px) {
.collapse__accomodation {

  }
}

@media screen and (max-width: 375px) {
  .collapse__header__title {
    font-size: 13px;
  }
  .collapse__content {
    font-size: 12px;
    padding: 24px 11px;
    min-height: 180px;
  }
}


@media screen and (max-width: 768px) {
.collapse__accomodation__card {
  flex-basis: 100%;
}
}
