.collapse__accomodation {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.collapse__accomodation__card {
  overflow: hidden;
  flex-basis: 47%;
}

@media screen and (max-width: 768px) {
  .collapse__accomodation__card {
    flex-basis: 100%;
  }
}
