.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: #ff6060;
  padding: 40px 100px 40px 100px;
}

.header img {
  width: 210.32px;
  height: 68px;
}

.header ul {
  display: flex;
}

.header ul li a {
  color: #ff6060;
  font-weight: 500;
  font-size: 24px;
  padding-left: 57px;
}


.header ul li a.active {
    text-decoration: underline;
}


.navLink--active {
  text-decoration: underline;
}


