.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: #ff6060;
}

.header ul {
  display: flex;
}

header a {
  margin-left: 57px;
}
.header ul li a {
  color: #ff6060;
  font-weight: 500;
  font-size: 24px;
}

.header ul li a.active {
  text-decoration: underline;
}

.header ul {
  padding: 0;
}


@media screen and (max-width: 650px) {
  .header ul li a {
    font-size: 12px;
    text-transform: uppercase;
  }

  .header a {
    margin-left: 10px;
  }

  .header img {
    width: 145px;
    height: 47px;
  }
}
