.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: #ff6060;
  margin-top: 40px;
  width: 100%;
}

.header ul {
  display: flex;
  padding: 0;
}

.header a {
  margin-left: 57px;
}

.header a:active,
a:visited {
  text-decoration: underline;
}

.header ul li a {
  color: #ff6060;
  font-weight: 500;
  font-size: 24px;
}

@media screen and (max-width: 650px) {
  .header ul li a {
    font-size: 12px;
    text-transform: uppercase;
  }

  .header a {
    margin-left: 10px;
  }

  .header img {
    width: 145px;
    height: 47px;
  }
}

@media screen and (max-width: 340px) {
  .header {
    flex-direction: column;
  }

  .header ul {
    margin-top: 5px;
  }
}
